:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: white;
  background-color: #030615;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  position: relative; 
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100%;   
  flex-direction: column; 
}

.bgImage, .bgVideo {
  max-width: 100%; 
  max-height: 100%; 
  width: auto; 
  height: auto; 
  display: block;
}



footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

footer h2 {
  font-size: 1.4rem;
}

footer div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

footer h1 {
  font-size: 0.9rem;
  font-weight: 200;
}

footer button {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  padding: 1rem;
  transition-duration: 200ms;
  cursor: pointer;
}

footer button i {
  font-size: 1.3rem;
}

footer button:hover {
  opacity: 0.7;
}

.bgGradient {
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(to top, #030615, rgba(255, 255, 255, 0));
}

.sidebar {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.bgOverlay {
  position: absolute;
  inset: 0;
  background: #030615;
  opacity: 0.6;
}

.sidebarContent {
  z-index: 15;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  overflow-y: auto;
  height: 100%;
  width: 80%;
  max-width: 800px;
  margin-left: auto;
  background: #030615;
}

.sidebarContent h2 {
  font-weight: 200;
  font-size: 1.4rem;
}

.sidebarContent div {
  flex: 1;
  overflow-y: auto;
}

.sidebarContent button {
  background: transparent;
  color: white;
  border: none;
  outline: none;
  margin-right: auto;
  cursor: pointer;
  transition-duration: 200ms;
  padding: 1rem 0;
}

.sidebarContent button:hover {
  opacity: 0.7;
}

.descriptionTitle {
  font-size: 1.1rem;
  font-weight: 200;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.loadingState {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.loadingState i {
  opacity: 0.2;
  font-size: 3rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 640px) {
  .sidebar {
    position: relative;
    inset: unset;
    min-width: 30%;
    box-shadow: 0 0 40px 1px #030615;
  }
  .sidebarContent {
    margin: unset;
  }
}
